:root {
  --primary-color: #ff9854;

  /* 这里修改的话会造成全局修改 */
  /* --van-tabbar-item-icon-size: 30px; */

  /* 全局修改search样式 */
  --van-search-left-icon-color: var(--primary-color) !important;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
}

body {
  font-size: 14px;
}

.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;

  overflow-y: auto;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}
